.container {
    align-self: flex-end;
    margin-left: auto;
    width: 40%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
    margin-bottom: 1px;
}

.header {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px gray;
}
.header:hover {
    cursor: pointer;
    background-color: #413057;
}
.header:active {
    background-color: #413057;
    transform: translate(-1px, 1px);
}

.content-parent {
    max-height: 75%;
    padding: 0;
    overflow: hidden;
    transition: height ease 1s;
}

.content {
    height: calc(100vh - 100vh * .5);
    padding: 1.5rem;
    overflow-y: scroll;
}
